.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "nav nav nav nav"
    "causes vid vid effect"
    "causes vid vid effect"
    "causes link link effect"
    "image_1 image_1 image_2 image_3"
    "image_4 image_4 image_5 image_5";
}
.navbar {
    grid-area: navbar;
    text-align: center;
    height: 40px;
    width: 100%;
}
 
.navbar li {
    display: inline;
    font-family: 'Bebas Neue';
    font-size: 20px;
    padding: 20px;
    background-color: 
}

.navbar a {
    padding: 40px;
}

.causes{
    grid-area: information;
    background-color: #d6ccc2;
    padding: 30px;

}

.effects{
    grid-area: effects;
    background-color: #d6ccc2;
    padding: 30px;

}
.image_1 {
    grid-area: image_1;
    text-align: center;
    font-family: "Agbalumo";
    background-color: bisque;
}
.image_1 {
    grid-area: image_2;
    text-align: center;
    font-family: "Agbalumo";
    background-color: bisque;
}
.image_1 {
    grid-area: image_3;
    text-align: center;
    font-family: "Agbalumo";
    background-color: bisque;
}
.image_1 {
    grid-area: image_4;
    text-align: center;
    font-family: "Agbalumo";
    background-color: bisque;
}
.image_1 {
    grid-area: image_5;
    text-align: center;
    font-family: "Agbalumo";
    background-color: bisque;
}

