.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "header header header header"
    "navbar navbar navbar navbar"
    "image_1 image_2 image_3 image_4"
    "information information information information"
    "blank blank blank blank"
    "name name name name";
}

.header {
    grid-area: header;
    background-color: #d5bdaf;
    padding: 30px;
    
}

.navbar {
    grid-area: navbar;
    text-align: center;
    height: 40px;
    width: 100%;
  

}
 
.navbar li {
    display: inline;
    font-family: 'Bebas Neue';
    font-size: 20px;
    padding: 20px;
  
}
 
.navbar a {
    padding: 40px;
}


.image_1 {
    grid-area: image_1;
    background-color:  #dddddd;
    height: auto;
}

.image_2 {
    grid-area: image_2;
    background-color:  #dddddd;
    height: auto;
} 


.image_3{
    grid-area: image_3;
    background-color:  #dddddd;
    height: auto;
}

.image_4 {
    grid-area: image_4;
    background-color:  #dddddd;
    height: auto;
}

.information {
    grid-area: information;
    background-color: #d6ccc2;
    padding: 30px;

}

.blank {
    grid-area: blank;
    background-color: #e3d5ca;
    padding: 30px;

}

.name{
    grid-area: name;
    background-color: #d5bdaf;
    padding: 30px;
}